html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

table {
    width: 100%; 
    table-layout: fixed; 
    border-collapse: collapse;
}

td {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px; 
    word-wrap: break-word; 
}

.mala {
    background-color: #f3ae47;
}

.isthebest {
    background-color: #D3AD79;
}

@media (max-width: 600px) {
    td {
        font-size: 4vw;
    }
}
